{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    <main>
        <div class="card my-4">
            {{#with navigation}}
                <div class="nav">
                    {{#each links}}
                        <div class="nav-item">
                            <a href="{{href}}" class="nav-link">{{text}} </a>
                        </div>
                    {{/each}}
                </div>
            {{/with}}
        </div>
        <div>
            {{#with newsBlock}}
                <h1 class="text-center m-2">{{title}}</h1>
                <div class="row">
                    {{#each cards}}
                        <div class="card text-bg-dark col-3 my-2">
                            <div class="card-header">{{title}} 
                                {{#if isTop}}<span class="badge text-bg-danger rounded-pill">Top</span>{{/if}}
                                {{#if isNew}}<span class="badge text-bg-success rounded-pill">New</span>{{/if}}
                            </div>
                            <div class="card-body">{{description}} </div>
                        </div>
                    {{/each}}
                </div>
            {{/with}}
        </div>
        <hr>
        <div>
            {{#with goodsBlock}}
                <div class="nav nav-tabs m-2">
                    {{#each tabs}}
                        <div class="nav-item">
                            {{#if isActive}}
                                <div class="nav-link active">{{text}}</div>
                            {{/if}} 
                            {{#if isDisabled}} 
                                <div class="nav-link disabled">{{text}}</div>
                                {{else}}
                                    {{#unless isActive}}
                                        <div class="nav-link">{{text}}</div>
                                    {{/unless}}
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
                <div>
                    <div class="row">
                        {{#each cards}}
                            <div class="card col-4 my-2 px-1">
                                <img class="card-img-top" src="{{image}}" alt="{{title}}">
                                 <div class="card-body">
                                    <h5 class="card-title">{{title}}
                                        {{#if isHot}}<span class="badge text-bg-warning rounded-pill">Hot</span>{{/if}}
                                        {{#if isNew}}<span class="badge text-bg-primary rounded-pill">New</span>{{/if}}
                                    </h5>
                                    <p>{{description}} </p>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/with}}
        </div>
        <hr>
        <div class="card m-3">
            <div class="card-body text-bg-dark">
                {{#with subscribe}}
                    <h2>{{header}} </h2>
                    <p>{{description}} </p>
                    {{#each buttons}}
                        <a href="{{link}}" class="btn btn-primary m-1">{{text}} </a><br>
                    {{/each}}
                {{/with}}
            </div>
        </div>
        <hr>
        <div class="card m-3">
            <div class="card-body text-bg-success">
                {{#with service}}
                    <h2 class="text-center ">{{title}} </h2>
                    <p class="text-center ">{{description}} </p>
                    {{#each buttons}}
                        <div class="text-center"><a href="{{link}}" class="btn btn-primary m-1">{{text}}</a></div>
                    {{/each}}
                {{/with}}
            </div>
        </div>
        <hr>
        <div class="row">
            {{#each footer}}
                <ul class="nav col-2">
                    {{#each this}}
                        <li class="nav-item flex-column">
                            <a href="{{link}}" class="nav-link {{#if @last}}disabled{{/if}}">{{text}} </a>
                        </li>
                    {{/each}}
                </ul>
            {{/each}}
        </div>
    </main>
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
